<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>天猫</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet/less" type="text/less" href="css/header.less">
</head>

<body>
  <div id="site-nav">
    <div class="site-nav-wrap">
      <ul class="head-ul-1">
        <li>喵，欢迎来天猫</li>
        <li><a href="javascript:void(0);">请登录</a></li>
        <li><a href="javascript:void(0);">免费注册</a></li>
      </ul>
      <ul class="head-ul-2">
        <li>
          <div class="myTaobao">
            <span>我的淘宝</span>
            <i class="fa fa-sort-down"></i>
          </div>
          <div class="myTaobao_sub">
            <a href="javascript:void(0);">已买到的宝贝</a><br>
            <a href="javascript:void(0);">已卖出的宝贝</a>
          </div>
        </li>
        <li>
          <div class="myCart">
            <i class="fa fa-shopping-cart"></i>
            <span>购物车0件</span>
          </div>
        </li>
        <li>
          <div class="myFavorite">
            <span>收藏夹</span>
            <i class="fa fa-sort-down"></i>
          </div>
          <div class="myFavorite_sub">
            <a href="javascript:void(0);">收藏的宝贝</a><br>
            <a href="javascript:void(0);">收藏的店铺</a>
          </div>
        </li>
        <li>
          <div class="myPhone">
            <i class="fa fa-mobile"></i>
            <span>手机版</span>
          </div>
        </li>
        <li>
          <div>淘宝网</div>
        </li>
        <li>
          <div class="sellerSuppurt">
            <span>商家支持</span>
            <i class="fa fa-sort-down"></i>
          </div>
          <div class="sellerSuppurt-sub">
            <section>商家:</section>
            <section><a href="javascript:void(0);">商家中心</a><a href="javascript:void(0);">天猫规则</a></section>
            <section><a href="javascript:void(0);">商家入驻</a><a href="javascript:void(0);">运营服务</a></section>
            <section><a href="javascript:void(0);">商家品控</a><a href="javascript:void(0);">商家工具</a></section>
            <section><a href="javascript:void(0);">天猫智库</a><a href="javascript:void(0);">喵言喵语</a></section>
            <section>帮助:</section>
            <section><a href="javascript:void(0);">帮助中心</a><a href="javascript:void(0);">问商友</a></section>
          </div>
        </li>
        <li>
          <div class="website-nav">
            <i class="fa fa-list"></i>
            <span>网站导航</span>
            <i class="fa fa-sort-down"></i>
          </div>
          <div class="websiteNav-sub">
            <div class="websiteNav-sub1">
              <section style="color:#f56a00">热点推荐 Hot</section>
              <section>
                <a href="javascript(0);">天猫超市</a>
                <a href="javascript(0);">喵鲜生</a>
                <a href="javascript(0);">科技新品</a>
                <a href="javascript(0);">女装新品</a>
                <a href="javascript(0);">酷玩街</a>
              </section>
              <section>
                <a href="javascript(0);">内衣新品</a>
                <a href="javascript(0);">试美妆</a>
                <a href="javascript(0);">运动新品</a>
                <a href="javascript(0);">时尚先生</a>
                <a href="javascript(0);">精明妈咪</a>
              </section>
              <section>
                <a href="javascript(0);">吃乐会</a>
                <a href="javascript(0);">企业采购</a>
                <a href="javascript(0);">会员积分</a>
                <a href="javascript(0);">天猫国际</a>
                <a href="javascript(0);">品质频道</a>
              </section>
            </div>
            <div class="websiteNav-sub2">
              <section style="color: #2263d4;">行业市场 Market</section>
              <section>
                <a href="javascript(0);">美妆</a>
                <a href="javascript(0);">电器</a>
                <a href="javascript(0);">女装</a>
                <a href="javascript(0);">男装</a>
                <a href="javascript(0);">女鞋</a>
              </section>
              <section>
                <a href="javascript(0);">男鞋</a>
                <a href="javascript(0);">内衣</a>
                <a href="javascript(0);">箱包</a>
                <a href="javascript(0);">运动</a>
                <a href="javascript(0);">母婴</a>
              </section>
              <section>
                <a href="javascript(0);">家装</a>
                <a href="javascript(0);">医药</a>
                <a href="javascript(0);">食品</a>
                <a href="javascript(0);">配饰</a>
                <a href="javascript(0);">汽车</a>
              </section>
            </div>
            <div class="websiteNav-sub3">
              <section>服务指南 Help</section>
              <section>
                <a href="javascript:void(0);">帮助中心</a>
                <a href="javascript:void(0);">品质保障</a>
              </section>
              <section>
                <a href="javascript:void(0);">特色服务</a>
                <a href="javascript:void(0);">7天退换货</a>
              </section>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="head">
    <div class="head-wrap">
      <div class="head-1">
        <input class="search-box" type="text" placeholder="搜索 天猫 商品/品牌/店铺">
        <input class="search-btn" type="button" value="搜 索">
      </div>
      <div class="head-2">
        <a href="javascript:void(0);">针织衫</a>
        <a href="javascript:void(0);" style="color:red;">连衣裙</a>
        <a href="javascript:void(0);">四件套</a>
        <a href="javascript:void(0);" style="color:red;">摄像头</a>
        <a href="javascript:void(0);">客厅灯</a>
        <a href="javascript:void(0);">口红</a>
        <a href="javascript:void(0);" style="color:red;">手机</a>
        <a href="javascript:void(0);">运动鞋</a>
        <a href="javascript:void(0);" style="color:red;">牛奶</a>
      </div>
    </div>
  </div>
  <div id="main-nav">
    <div>
      <i class="fa fa-list"></i>
      <span>商品分类</span>
    </div>
    <a href="javascript:void(0);" aria-label="天猫超市">
      <img src="https://img.alicdn.com/tfs/TB1ztBlaMMPMeJjy1XbXXcwxVXa-200-60.png" alt="">
    </a>
    <a href="javascript:void(0);" aira-label="天猫国际">
      <img src="https://img.alicdn.com/tfs/TB1t5ObaBxRMKJjy0FdXXaifFXa-200-60.png" alt="">
    </a>
    <a href="javascript:void(0);">天猫会员</a>
    <a href="javascript:void(0);">电器城</a>
    <a href="javascript:void(0);">喵鲜生</a>
    <a href="javascript:void(0);">医药馆</a>
    <a href="javascript:void(0);">营业厅</a>
    <a href="javascript:void(0);">魅力惠</a>
    <a href="javascript:void(0);">飞猪旅行</a>
    <a href="javascript:void(0);">苏宁易购</a>
  </div>
  <div id="slide-container">
    <div class="slide-wrap">
      <div style="display: block;"><img
          src="https://img.alicdn.com/imgextra/i1/35/O1CN013Veb6I1C84OX9w0Qy_!!35-0-luban.jpg_q100.jpg_.webp" alt="">
      </div>
      <div style="display: none;"><img
          src="https://img.alicdn.com/imgextra/i4/21/O1CN01kHBTw91C1eqpnbCuv_!!21-0-luban.jpg_q100.jpg_.webp" alt="">
      </div>
      <div style="display: none;"><img
          src="https://img.alicdn.com/imgextra/i1/186/O1CN017p3cbp1DFECc66CgK_!!186-0-luban.jpg_q100.jpg_.webp" alt="">
      </div>
      <div style="display: none;"><img
          src="https://img.alicdn.com/imgextra/i3/157/O1CN01cu30o71D1wiSaQf8I_!!157-0-luban.jpg_q100.jpg_.webp" alt="">
      </div>
      <div style="display: none;"><img
          src="https://img.alicdn.com/imgextra/i3/105/O1CN01R6sMjE1Ce87O6jKuD_!!105-0-luban.jpg_q100.jpg_.webp" alt="">
      </div>
      <div style="display: none;"><img
          src="https://img.alicdn.com/imgextra/i1/51/O1CN01VAHWRu1CFOjUmB2Kg_!!51-0-luban.jpg_q100.jpg_.webp" alt="">
      </div>
    </div>
    <div class="slide-dots">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="category-list">
    <ul>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>女装/内衣</span>
        </div>
        <div class="cate-sub">
          <div>
            <cate-list v-for="cate in cates1" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>男装/运动户外</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates2" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>女鞋/男鞋/箱包</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates3" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>美妆/个人护理</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates4" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>腕表/眼镜/珠宝饰品</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates5" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>手机/数码/电脑办公</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates6" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>母婴玩具</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates7" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>零食/茶酒/进口食品</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates8" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>生鲜水果</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates9" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>大家电/生活电器</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates10" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>家具建材</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates11" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>汽车/配件/用品</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates12" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>家纺/家饰/鲜花</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates13" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>医药保健</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates14" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>厨具/收纳/宠物</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates15" :cate="cate"></cate-list>
        </div>
      </li>
      <li>
        <div class="cate-parent">
          <i class="fa fa-list"></i><span>图书音像</span>
        </div>
        <div class="cate-sub">
          <cate-list v-for="cate in cates16" :cate="cate"></cate-list>
        </div>
      </li>
    </ul>
  </div>
  <div id="mainPage"></div>
  <footer></footer>

  <script src="https://cdn.bootcss.com/less.js/3.9.0/less.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="js/header.js"></script>
  <script src="js/vue.script.js"></script>
</body>

</html>