*{
	margin: 0;
	padding: 0;
}

div header div nav{
	position: absolute;
	top: 5px;
}

div header div nav li{
	list-style: none;
	float: right;
	margin: 5px 3px;
	padding: 5px;
	position: relative;
	left: 1080px;
	right: 10px;
	color: black;
}

div header div nav li a{
	text-decoration: none;
	font-size: .8em;
}

.alast{
	background-color: #4485F3;
	color:white;
	padding: 2px 6px;
	height: 16px;
	line-height: 16px;
}

.searchBody{
	position: relative;
	margin: 155px auto;
	/*border:1px solid red;*/
	height: 300px;
	width: 600px;
}

.searchBody img{
	display: block;
	margin: 20px auto;
}

.searchBody div .Gsearch{
	display: block;
	margin: 15px auto;
	width: 550px;
	height: 30px;
}

.searchBody div div span{
	display: inline-block;
	position: absolute;
	left: 200px;
	margin: auto;
}

.searchBody div div span input{
	display: inline-block;
	width: 110px;
	height: 25px;
	background: #F2F2F2;
	border: 1px solid #CFCFCF;
	border-radius: 1px;
}

footer div{
	background-color: #F2F2F2;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

footer div span a{
	font-size: .8em;
	text-decoration: none;
	color: #666;
}

.footerspan1{
	float: left;
	padding: 0 10px;
}

.footerspan1 a{
	padding: 0 5px;
}

.footerspan2{
	float: right;
	padding: 0 10px;
}

.footerspan2 a{
	padding: 0 10px;
}